package 'cgminer'

config 'cgminer' 'default'
	option	'pool1url'	'http://us.ozco.in:8331'
	option	'pool1user'	'xiangfu.0'
	option	'pool1pw'	'x'
	option	'pool2url'	'http://pool.ABCPool.co:8332'
	option	'pool2user'	'xiangfu.0'
	option	'pool2pw'	'x'
	option	'pool3url'	'http://pit.deepbit.net:8332'
	option	'pool3user'	'xiangfu.z@gmail.com_0:x'
	option	'pool3pw'	'x'
