[Desktop Entry]
Name=dgclock
Comment=sdl based date/time displayer
Encoding=UTF-8
Version=1.0
Type=Application
Exec=dgclock
Icon=dgclock
Terminal=false
Categories=Application
SingleInstance=false
